// Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.content{
  background-color: black;
  height:600px;


}

.content h1{
  color: white;
  margin-bottom: 0;
  font-size: 80px;
  margin-left: 50px;
  font-family: 'Russo One', sans-serif;
  padding-top: 75px;
}

.content p{
  color: white;
  margin-top: 0;
  font-size: 35px;
  margin-left: 50px;
}
.content a{
  background-color: #c9412b;
  display: block;
  height: 40px;
  width: 150px;
  color: white;
  margin-top: 20px;
  font-size: 26px;
  margin-left: 47px;
  border-radius: 11px;
  text-decoration: none;
  text-align: center;
  transition: 1s ease;
}

.content a:hover{
  background-color: rgb(160, 57, 46);


}
