// Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.content{
  background-image: url(https://cdn.pixabay.com/photo/2014/02/05/19/58/blue-259458_1280.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content2{
  background-image: url(https://cdn.pixabay.com/photo/2014/02/05/19/58/blue-259458_1280.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.box{
  display: flex;
  justify-content: space-between;
  margin-top:180px;
  margin-left: 120px;

}
.box h1{
  color: white;
  font-size: 80px;
  font-family: 'Russo One', sans-serif;
}

.box p{
  color: white;
  font-size: 35px;

}










// .content a{
//   background-color: #c9412b;
//   display: block;
//   height: 40px;
//   width: 150px;
//   color: white;
//   margin-top: 20px;
//   font-size: 26px;
//   margin-left: 47px;
//   border-radius: 11px;
//   text-decoration: none;
//   text-align: center;
//   transition: 1s ease;
// }

// .content a:hover{
//   background-color: rgb(160, 57, 46);


// }
