.item-show {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.item-name {
  font-size: 2em;
  text-align: center;
  background-color: #ebe8e8;
  color: #333;
  padding: 10px 0;
}

.item-description {
  font-size: 1em;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.item-price {
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}

.item-category, .item-univers {
  font-size: 0.9em;
  text-align: center;
  color: #777;
  padding: 10px 0;
}

.item-poster {
  padding: 10px 0;
  img {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
  }
}

.item-management, .item-booking {
  margin-top: 20px;
  a {
    display: inline-block;
    background-color: #009578;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    &:hover {
      background-color: #007a63;
    }
  }
}

.btn-primary {
  display: block;
  text-align: center;
  background-color: #009578;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #007a63;
  }
}
