<div class="element">
  <div class ='content'>
    <h1>Meetic All Gears</h1>
    <p> Trouver les meilleurs armes pour vos projets de tous les jours !</p>
      <%= link_to "Se connecter", user_session_path, class: "btn-flat" %>
      <%= link_to "Armes", items_path, class: "btn-flat" %>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>
