<div class="element">
  <div class ='content'>
    <h1>Meetic All Gears</h1>
    <p>Rent the best tool for your projects</p>
    <a href="#">Add item</a>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>
