<div class="item-details">
  <h2><%= @item.name %> bleu</h2>
  <% if @item.user_id == current_user %>
    <%# Intégrer structure avec titre & description de l'objet  %>
    <%= link_to 'Éditer', edit_item_path(@item), class: 'btn btn-primary' %>
    <%= link_to 'Supprimer', @item, class: 'btn btn-danger' %>
    else
  <% end %>
  <%# Intégrer structure avec titre & description de l'objet  %>
</div>
