.btn-flat {
  color: white;
  margin-left: 50px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-primary {
  display: block;
  text-align: center;
  background-color: #009578;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #007a63;
  }
}
