.btn-login {
  text-align: center;
  background-color: #215e8b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  margin-left: 10px;
  &:hover {
    background-color: #0d3857;
}
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-primary {
  display: block;
  text-align: center;
  background-color: #009578;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #007a63;
  }
}

.button-home{
  text-align: center;
  background-color: #215e8b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;

  transition: background-color 0.3s;
  &:hover {
    background-color: #0d3857;

}
}

.button_already{
  text-align: center;
  background-color: #215e8b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #0d3857;

  }
.btn-edit-show {
  background-color: #009578;


  }

.btn-delete-show {
  background-color: #d9534f;


  }

}
