.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}


.card-category {
   display: block;

  width: 260px;
    height: 322px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 65px auto;

    margin-bottom: -20px;
}



.card-category img {

  width: 260px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}


.card-category-info h2{
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.card-category-info p{
  text-align: center;
}

.card-category-info .card-category-user {
  position: relative;
  right: -96px;
  top: 8px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
}



.button-info{
  text-align: center;
  background-color: #215e8b;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  border-radius: 0;
  transition: background-color 0.3s;
  &:hover {
    background-color: #0d3857;
}
}
