.main-image {
  background-image: url(https://cdn.pixabay.com/photo/2014/02/05/19/58/blue-259458_1280.jpg);
  height: 190vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title-index h1{

  font-size: 60px;
  text-align: center;
  color: white;
  padding-top: 100px

}

.main-image h1{
  color: white;
  margin-bottom: 0;
  font-size: 60px;
  margin-left: 50px;
  font-family: 'Russo One', sans-serif;
}
